@model ProductQuantityModel
@{
    ViewData["Title"] = "Product Quantity in Storages";
}

@{
    <h2>Quantity for @Model.Name Total: @Model.QuantityInStorages.Sum(q=>q.Value)</h2>

    <ul class="list-group">
        @foreach (var storage in Model.QuantityInStorages)
        {
            <li class="list-group-item">Storage: @storage.Key Quantity: @storage.Value</li>
        }
    </ul>
}
